.mainContainer {
  width: 94vw;
  padding: 15px;
  background-color: var(--mainColor);
  display: flex;

  align-items: center;
}
.ltrBorder {
  border-radius: 0 14px 14px 0;
  -webkit-border-radius: 0 14px 14px 0;
  -moz-border-radius: 0 14px 14px 0;
  -ms-border-radius: 0 14px 14px 0;
  -o-border-radius: 0 14px 14px 0;
}
.rtlBorder {
  border-radius: 14px 0 0 14px;
  -webkit-border-radius: 14px 0 0 14px;
  -moz-border-radius: 14px 0 0 14px;
  -ms-border-radius: 14px 0 0 14px;
  -o-border-radius: 14px 0 0 14px;
}
@media screen and (max-width: 767px) {
  .mainContainer {
    width: 100vw;
  }
}
.number {
  color: var(--secondColor);
  font-size: 34px;
  font-weight: 700;
}
.title {
  color: white;
  font-size: 14.26px;
  font-style: 400;
  font-weight: 700;
  /* line-height: 160%; 36.8px */
}
.info {
  position: relative;
}
.info::before:not(:last-of-type) {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
}
@media screen and (max-width: 767px) {
  .info::before {
    right: -15px;
  }
}
