.card {
  border-radius: 10px;
  border: 1px solid rgba(248, 175, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.card:hover {
  background-color: rgba(248, 175, 0, 0.2);
}
.cardContent {
  gap: 8px;
  height: 100%;
  display: flex;
  max-height: 100%;
  padding: 10px;
}
.number {
  position: relative;
  bottom: 35px;
  align-self: flex-start;
  color: rgba(248, 175, 0, 0.45);
  font-size: 80px;
  font-weight: 700;
}
@media screen and (max-width: 767px) {
  .number {
    font-size: 65px;
  }
}
.cardTitle {
  color: var(--mainColor);
  font-weight: 700;
}
.cardDesc {
  color: #3a3a3a;
  font-weight: 400;
}
