.logo {
  width: 58px;
  height: 74px;
}
.desc {
  color: #3a3a3a;
  font-weight: 500;
  width: 90%;
}
@media screen and (max-width: 600px) {
  .desc {
    width: 98%;
  }
}
.title {
  color: var(--mainColor);
  font-weight: 700;
}
.link {
  color: #3a3a3a;
  font-weight: 500;
}
.map {
  width: 60% !important;
}
@media screen and (max-width: 767px) {
  .map {
    width: 100% !important;
  }
}
.pageLink {
  color: #3a3a3a;
  font-weight: 500;
}
.footerContainer {
  border-top: 1px solid #ccc;
}
