/* public styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  text-transform: capitalize !important;
  font-family: "Tajawal", sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
/* varibales */
:root {
  --mainColor: #28348a;
  --secondColor: #f8af00;
}
/* utility classes */
.globe {
  color: var(--secondColor) !important;
}
.dropmenu {
  border: none !important;
  background-color: transparent !important;
}
.dropmenu::after {
  display: none;
}
.dropdown-menu.show {
  text-align: start;
  margin-top: 10px !important;
}
.pointer {
  cursor: pointer;
}
.title {
  text-align: center;
  color: var(--mainColor);
  font-size: 34px;
  font-weight: 700;
}
.border {
  border-top: 1px solid #b7b7b7;
}
.label {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.inputContainer,
.areaContainer {
  padding: 7px;
  background-color: white;
  position: relative;

  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.inputContainer {
  height: 36px;
}
.areaContainer {
  height: 80px;
}
.inp,
.area,
.filterInp {
  border: none;
  width: 95%;
  background-color: transparent;
}
.inp:focus,
.area:focus,
.filterInp:focus {
  outline: none !important;
}
.inp::placeholder,
.filterInp::placeholder {
  text-transform: capitalize;
}
.inputSvg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.inputSvg.rtl {
  right: 7px;
}
.inputSvg.ltr {
  left: 7px;
}
.top-label-input {
  width: 95%;
}
.top-label-input:focus {
  outline: none;
}
.phone {
  border: none;
  width: 100%;
}
.phone:focus {
  outline: none !important;
}
.filterContainer {
  position: relative;

  height: 60px;
  box-shadow: -16px 3px 35px 0px rgba(0, 0, 0, 0.1),
    -63px 13px 64px 0px rgba(0, 0, 0, 0.09),
    -142px 29px 87px 0px rgba(0, 0, 0, 0.05),
    -252px 51px 103px 0px rgba(0, 0, 0, 0.01),
    -393px 80px 112px 0px rgba(0, 0, 0, 0);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.menu {
  background-color: white;
  box-shadow: -16px 3px 35px 0px rgba(0, 0, 0, 0.1),
    -63px 13px 64px 0px rgba(0, 0, 0, 0.09),
    -142px 29px 87px 0px rgba(0, 0, 0, 0.05),
    -252px 51px 103px 0px rgba(0, 0, 0, 0.01),
    -393px 80px 112px 0px rgba(0, 0, 0, 0);
  position: absolute;

  top: 60px;
  z-index: 8;
  padding: 8px;
  width: 220px;
  display: block;
}
.menuLtr {
  left: 0;
}
.menuRtl {
  right: 0;
}
.select {
  display: block;
  margin-bottom: 10px;
  border: none;
  width: 100%;
}
.select:focus {
  outline: none;
}
.activeFilter {
  font-weight: bold;
  font-size: 18px;
  color: var(--mainColor);
}
.filterBorder {
  border-bottom: 1px solid #ccc;
}
.filterBtn {
  color: white;
  background-color: var(--secondColor);
  border: 1px solid var(--secondColor);
  padding: 8px;
  width: 80%;
  margin: auto !important;
  text-transform: capitalize;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.read {
  color: var(--mainColor);
  font-size: 22px;

  font-weight: 700;
}

.moreBtn {
  background-color: white;
  font-weight: 500;
  color: var(--secondColor);
  text-transform: capitalize;
  border: 2px solid var(--secondColor);
  padding: 16px 71px;
  border-radius: 10px;
  transition: 0.4s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.moreBtn:hover {
  background-color: var(--secondColor);
  color: white !important;
}
.paginationBttns {
  padding: 7px;
  width: 50%;
  color: #656565 !important;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -ms-border-radius: 26px;
  -o-border-radius: 26px;
}
@media screen and (max-width: 767px) {
  .paginationBttns {
    width: 100%;
  }
}
.nextBttn,
.previousBttn {
  color: #656565;
}
.paginationActive {
  background-color: var(--mainColor);
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.swiper-pagination-bullet {
  width: 40px;
  height: 1px;
  background-color: #ccc;
}
.swiper-pagination-bullet.active {
  background-color: var(--mainColor) !important;
}
.swiper-pagination-horizontal {
}
.swiper-pagination-bullet {
  width: 25px !important ;
  height: 2px;
  border-radius: 0 !important;
  background-color: #ccc !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--mainColor) !important;
}
